{% extends "main.html" %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('board.add') }}">Add</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        {% for post in posts %}
            <form method="post" action="/" class="col-md-6 col-lg-3">
                <div class="card text-white bg-{{ post.color }} mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ post.id }} - {{ post.title }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ post.description }}</p>
                    </div>
                    <button id="btn_like" type="submit" class="btn btn-light btn-sm">
                        {{ post.likes }}
                        {% if post.id in liked_posts %}
                            <i class="fas fa-thumbs-up"> you like it</i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                    </button>
                    <input type="hidden" id="post_id" name="post_id" value={{ post.id }}>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}